.stage {
  position: relative;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;

  &__name {
    position: absolute;
    padding: 5px 10px;
    top: -15px;
    left: 10px;
    background-color: #fff;
  }
}
